aside.sidebar-drawer {
	width: 500px;
}

div.sidebar-container {
	width: 500px;
}
	
div.main {
	width: 90%;
}

div.content {
	width: 90%;
}

aside.toc-drawer {
	width: 300px;
}

div.toc-sticky.toc-scroll {
	max-witdh: none;
}
